* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent WebKit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

body {
	background: #f8d598; /* Old browsers */
	background: -moz-linear-gradient(top, #f8d598 0%, #deb984 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8d598), color-stop(100%,#deb984));
	background: -webkit-linear-gradient(top, #f8d598 0%,#deb984 100%); 
	background: -o-linear-gradient(top, #f8d598 0%,#deb984 100%); 
	background: -ms-linear-gradient(top, #f8d598 0%,#deb984 100%); 
	background: linear-gradient(to bottom, #f8d598 0%,#deb984 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8d598', endColorstr='#deb984',GradientType=0 );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:16px;
    height:100%;
    margin:0px;
    padding:0px;
	padding-top: 10px;
    width:100%;
}

header{
	margin-top: 20px;
	color: #fff;
	font-size: 2em;
	text-align: center;
	margin-bottom: 20px;
}

#availableDrivers {
	width: 100%;
}
.photo {
	position: absolute;
	padding-top: 17px;
	left: 0;
}
.driversItem{
	margin: 0 auto;
	display: block;
	height: 125px;
	border : #d6b688 0.15em solid;
	border-right-style: none;
	border-left-style: none;
	padding-top: 30px;
	margin: 0;
	margin-bottom: 25px;
	padding-left: 130px;
}
.driversItembackground{
	background: #f8d598; /* Old browsers */
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center; 
	background: -moz-linear-gradient(top, #f8d598 0%, #deb984 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8d598), color-stop(100%,#deb984));
	background: -webkit-linear-gradient(top, #f8d598 0%,#deb984 100%); 
	background: -o-linear-gradient(top, #f8d598 0%,#deb984 100%); 
	background: -ms-linear-gradient(top, #f8d598 0%,#deb984 100%); 
	background: linear-gradient(to bottom, #f8d598 0%,#deb984 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8d598', endColorstr='#deb984',GradientType=0); 
}
.driversItembackgroundSelected{
	background-color: #cfad7c;
}
.driverName{
	font-weight: bold;
	color: #74695a;
	font-size: 2em;
}

.driverCar{
	font-weight: bold;
	color: #ffebc6;
	text-transform:uppercase;
}
.driverBid{
	margin-top: 2.2em;
	color: #fff;
	font-size: 0.9em;
	text-transform:uppercase;
}
.driverTimeEstimate{

}

#appBar{
	background : #c2a275;
	position: fixed;
	bottom: 0;
	height: 3.5em;
	width: 100%;
}

#appBar .choice {

}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}