* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent WebKit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
	background: #f8d598; /* Old browsers */
	background: -moz-linear-gradient(top, #f8d598 0%, #deb984 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8d598), color-stop(100%,#deb984));
	background: -webkit-linear-gradient(top, #f8d598 0%,#deb984 100%); 
	background: -o-linear-gradient(top, #f8d598 0%,#deb984 100%); 
	background: -ms-linear-gradient(top, #f8d598 0%,#deb984 100%); 
	background: linear-gradient(to bottom, #f8d598 0%,#deb984 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8d598', endColorstr='#deb984',GradientType=0 );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:16px;
    height:100%;
    margin:0px;
    padding:0px;
	padding-top: 10px;
    width:100%;
    padding-bottom: 70px;
}

header{
	margin-top: 20px;
	color: #74695a;
	font-size: 2em;
	text-align: center;
	margin-bottom: 20px;
}

#availableDrivers {
	width: 100%;
}
.photo {
	position: absolute;
	padding-top: 15px;
	left: 0;
}
.driversItem{
	margin: 0 auto;
	display: block;
	height: 125px;
	border : #d6b688 0.15em solid;
	border-right-style: none;
	border-left-style: none;
	padding-top: 30px;
	margin: 0;
	margin-bottom: 25px;
	padding-left: 130px;
}
.driversItembackground{
	background: #f8d598; /* Old browsers */
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center; 
	background: -moz-linear-gradient(top, #f8d598 0%, #deb984 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8d598), color-stop(100%,#deb984));
	background: -webkit-linear-gradient(top, #f8d598 0%,#deb984 100%); 
	background: -o-linear-gradient(top, #f8d598 0%,#deb984 100%); 
	background: -ms-linear-gradient(top, #f8d598 0%,#deb984 100%); 
	background: linear-gradient(to bottom, #f8d598 0%,#deb984 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8d598', endColorstr='#deb984',GradientType=0); 
}
.driversItembackgroundSelected{
	background-color: #cfad7c;
}
.driverName{
	font-weight: bold;
	color: #74695a;
	font-size: 2em;
}

.driverCar{
    position: absolute;
	font-weight: bold;
	color: #ffebc6;
	text-transform:uppercase;
}
.driverBid{
	margin-top: 2.2em;
	color: #fff;
	font-size: 0.9em;
	text-transform:uppercase;
}
.driverTimeEstimate{

}
.hidden {
    display: none;
}
#appBar{
	background : #74695a;
	position: fixed;
	bottom: 0;
	width: 100%;
    padding-left: 20px;
    margin: 0 auto;
    overflow: hidden;
}
.appBarHidden {
    height: 54px;
}
.appBarFull {
    height: 54px;
}

#appBar > div {
    margin: 0 auto;
    width: 220px;
}
#appBar .choice {
    margin: 0 auto;
    float: left;
    height: 70px;
    width: 110px;
}
#appBar #callTaxi {
    background:url(../img/driver.png) no-repeat 0 0;
}
#appBar #chatTaxi {
   background:url(../img/chat.png) no-repeat 0 0;
}
#appBar #changeLocation {
   background:url(../img/location.png) no-repeat 0 0;
}

.page {
    position: fixed;
    width: 90%;
    height: 80%;
    z-index: 50;
    top: 20px;
    margin-left: 5%;
    margin-top: 5%;
    background-color: rgba(194,162,117,0.9);
}

.page .topBar {
    background-color: rgba(116,105,90,0.8);
    color: #fff;
    padding-top: 2px;
    height: 25px;
    width: 100%;
    display: block;
}
.page .topBar p{
    cursor:default;
    padding: 0 5px;
    margin: 0;
    display: block;
    float: left;
}
.page .topBar .close {
    float: right;
    position: relative;
}

.page .content {
    padding-top: 20px;
}

#changeAdress {
    
}
#changeAdress input{
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
}
.button{
    cursor:default;
    width: 150px;
    height: 20px;
    margin: 0 auto;
    padding: 5px;
    background-color: rgba(116,105,90,0.8);
    text-align: center;
    margin-bottom: 10px;
}
.bold {
    font-weight: bold;
}

#map-canvas {
   width: 100%; 
   height: 250px;
}

#positionUnavailable {
    text-align: center;
}
#getTaxi{
    text-align: center;
}
#getTaxi input{
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
}
#step2 {
    text-align: center;
}
/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}